@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth
}

body {
  @apply bg-primary
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 199 98 / var(--tw-bg-opacity));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}